*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-size: 10px;
  overflow-x: hidden;

  body {
    background-color: $white;
    font-family: $font;

    h1, h2, h3 {
      font-weight: $font-weight-300;
      color: $dark-blue;
    }
    
    p, span {
      font-weight: $font-weight-400;
      color: $light-grayish-blue;
    }
    
    ul li {
      list-style: none;
    }

    a {
      text-decoration: none;
      font-weight: $font-weight-700;
      color: $white;
      @include laptop() {
        font-weight: $font-weight-400;
      }
    }

    span {
      color: $light-grayish-blue;
    }

    #app {
      @include grid();
    }

    .container {
      padding: 2.5rem;
      @include laptop() {
        padding: 2.5rem 5rem 2.5rem 5rem;
      }
      @include desktop() {
        padding: 2.5rem 10rem 2.5rem 10rem;
      }
    }

    h2.title {
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    p.text {
      font-size: 1.8rem;
      line-height: 3rem;
    }

    a.btn {
      display: inline-block;
      color: $white;
      font-size: 1.5rem;
      padding: 1.5rem 4rem;
      border-radius: 3rem;
      background: linear-gradient(to right, $lime-green, $bright-cyan);
      @include laptop() {
        font-size: 1.2rem;
        padding: 1rem 2rem;
      }

      &:hover {
        opacity: .5;
      }
    }
  }
}