// FONT
$font: 'Public Sans', sans-serif;
$font-weight-300: 300;
$font-weight-400: 400; 
$font-weight-700: 700; 

// COLOR
$white: #ffffff;
$light-grayish-blue: #b7b9be;
$very-light-gray: #f1f1f1;
$dark-blue: #2d314d;
$lime-green: #31d35c;
$bright-cyan: #2bb7da;
$grayish-blue: #c9c9ca;
 
// Z-INDEX
$z-index-low: -1;
$z-index-medium: 10;
$z-index-High: 100;